@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        var timer = new System.Timers.Timer();
        timer.Elapsed += timer_Elapsed;

        timer.AutoReset = true;
        timer.Enabled = true;
        timer.Interval = 1000;
    }
    private void timer_Elapsed(object sender, System.Timers.ElapsedEventArgs e)
    {
        currentCount++;
        this.StateHasChanged();
    }
}
