@page "/counter"

<h1>Counter</h1>

<p>Elapsed time: @timeSpan</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private string timeSpan = "";
    private DateTime startTime;
    private void IncrementCount()
    {
        startTime = DateTime.Now;
        var timer = new System.Timers.Timer();
        timer.Elapsed += timer_Elapsed;

        timer.AutoReset = true;
        timer.Enabled = true;
        timer.Interval = 1000;
    }
    private void timer_Elapsed(object sender, System.Timers.ElapsedEventArgs e)
    {
        timeSpan = (e.SignalTime - startTime).ToString(@"hh\:mm\:ss");
        this.StateHasChanged();
    }
}
